
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "useradmin" %}">
               
                <div class="sidebar-brand-text mx-3">EasyKart Admin Panel </div>
            </a>
`
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url "useradmin" %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            {% comment %} <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div> {% endcomment %}

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Users</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Users:</h6>
                        <a class="collapse-item" href="{% url "customers" %}">Customers</a>
                        <a class="collapse-item" href="{% url "admin_list" %}">Admins</a>
                        <a class="collapse-item" href="{% url "create_admin" %}">Create Admin</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Products</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Products:</h6>
                        <a class="collapse-item" href="{% url "categories" %}">Categories</a>
                        <a class="collapse-item" href="{% url "brands" %}">Brands</a>
                        <a class="collapse-item" href="{% url "products" %}">Products</a>
                        <a class="collapse-item" href="{% url "variations" %}">Variants</a>
                        <hr>
                        <a class="collapse-item" href="{% url 'colors_size' %}">Colors and Sizes </a>
                    </div>
                </div>
            </li>

            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Orders</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Orders:</h6>
                        <a class="collapse-item" href="{% url "orders" %}">All Orders</a>
                        <a class="collapse-item" href="{% url 'new_orders' %}">New Orders</a>
                        <a class="collapse-item" href="{% url 'cancelled_orders' %}">Cancelled Orders</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#offers"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-gift"></i>
                    <span>Offers and Coupons</span>
                </a>
                <div id="offers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Offers:</h6>
                        <a class="collapse-item" href="{% url 'product_offer' %}">Product Offer</a>
                        <a class="collapse-item" href="{% url 'category_offer' %}">Category Offer</a>
                        <h6 class="collapse-header">Coupons:</h6>
                        <a class="collapse-item" href="{% url 'coupons' %}">Coupons</a>
                    </div>
                </div>
            </li>

           

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

           

        </ul>
        <!-- End of Sidebar -->
