{% extends "home/base.html" %}

{% block content %}
<h2>Enter OTP</h2>

<!-- Display error messages -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ messages }}">
            {{ message }}
        </div>
        {% if "expired" in message|striptags|lower %}
            <!-- If OTP expired, display a resend button -->
            <form method="post" action="{% url 'resendotp' id=id %}">
                {% csrf_token %}
                <button type="submit">Resend OTP</button>
            </form>
        {% endif %}
    {% endfor %}
{% endif %}


<form method="post" action="{% url 'otp_verification' id=id %}">
    {% csrf_token %}
    <label for="otp">OTP:</label>
    <input type="text" id="otp" name="otp" required>
    <button type="submit">Submit</button>
</form>
{% endblock content %}

