{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <h3> <strong>Order Number:</strong> {{order.order_number}} <span class="float-right">Total Price: <strong>{{total_price | floatformat:2}} </strong></span> </h3>
    <table class="table bg-white">
        <thead class="bg-info">
            <tr class="text-white">
                <th scope="col">Product Name</th>
                <th>Product Image</th>
                <th> Quantity</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>
                    {{product.product}}
                </td>
                <td>
                    <img src="{{product.product.image.url}}" alt="" height="50" width="50" style="border: 1px solid gray;">
                </td>
                <td>
                    {{product.quantity}}
                </td>
                <td>
                    {{product.product_price | floatformat:2}}
                </td>
                <td>
                    {{product.quantity}}
                </td>
                <td> {% widthratio product.quantity 1 product.product_price %} </td>
          </tr>
            {% endfor %}
            <tr>
                <td colspan="5" class="text-center">
                    <b>Subtotal:</b>
                </td>
                <td>
                    {{subtotal | floatformat:2}}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-center">
                    <b>Tax:</b>
                </td>
                <td>
                    {{order.tax | floatformat:2}}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-center">
                    <p>
                        <b>Grand Total:</b>
                    </p>
                    <p>
                        <b>Discount:</b>
                    </p>
                        
                </td>
                <td>
                    <p> 
                        {{order.order_total | floatformat:2}}
                    </p>
                    <p>
                        -{{order.coupon.discount_price}}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
   
</div>
               
{% endblock content %}
